<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./stylesheets/join.css" rel="stylesheet">
    <script type="text/javascript" src="./scripts/join/join.js" async></script>
    <title>회원가입</title>
</head>
<body>
    <div id="wrapper">
        <header>
            <a href = "/">스네이크 온라인</a>
            <div>회원가입</div>
        </header>
        <div>
            <form action="/join" method="POST">
                <input id = "id" type= "text" size = "14" placeholder = "아이디" name = "id" autofocus required></br>
                <input id = "password" type= "password" size = "14" placeholder = "비밀번호" name = "password" autofocus required></br>
                <input id = "nickname" type= "text" size = "14" placeholder = "별명" name = "nickname" autofocus required></br>
                <button>회원가입</button>                
            </form>
        </div>
        <footer>
            Made by woog2roid 
            <a href='https://github.com/woog2roid' target='_blank'>
                <img src = './images/github.svg' />
            </a>
        </footer>
    </div>
</body>
</html>