<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./stylesheets/index.css" rel="stylesheet">
    <script type="text/javascript" src="./scripts/index/game.js" async></script>
    <script type="text/javascript" src="./scripts/index/member.js" async></script>
    <title>Simple Game</title>
</head>
<body>
    <div id="wrapper">
        <header>
            스네이크 온라인
        </header>
        <nav>
            <div>
                <li id="join"><a href="/join">회원가입</a></li> 
                <li id="login"><a href="/login">로그인</a></li>
            </div>
            <div>
                <li id="mypage"><a href="/mypage">마이페이지</a></li>
                <li id="logout"><a href="logout">로그아웃</a></li>
            </div>
        </nav>
        <div id="game"></div>
        <div id="controller">
            <img id="up" class="arrow" src = './images/arrow.svg' />
            </br>
            <img id="left" class="arrow" src = './images/arrow.svg' />
            <img id="right" class="arrow" src = './images/arrow.svg' />
            </br>
            <img id="down" class="arrow" src = './images/arrow.svg' />
        </div>
        <footer>
            Made by woog2roid 
            <a href='https://github.com/woog2roid' target='_blank'>
                <img src = './images/github.svg' />
            </a>
        </footer>
    </div>
</body>
</html>