<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./stylesheets/mypage.css" rel="stylesheet">
    <title>마이페이지</title>
</head>
<body>
    <div id="wrapper">
        <header>
            <a href = "/">스네이크 온라인</a>
            <div>마이페이지</div>
        </header>
        <div>
            <form action="/mypage" method="POST">
                <div>별명</div>
                <input type="text" size="14" placeholder="별명" name ="nickname" value="{{user.nickname}}"autofocus required></br>
                <div>한줄 소개</div>
                <input type="text" size = "14" placeholder="한줄 소개" name="comment" value="{{user.comment}}"autofocus required></br>
                <button>수정하기</button>
            </form>
        </div>
        <footer>
            Made by woog2roid 
            <a href='https://github.com/woog2roid' target='_blank'>
                <img src = './images/github.svg' />
            </a>
        </footer>
    </div>
</body>
</html>